---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  title: "Sobre mí",
  description: "Una breve historia sobre cómo llegué aquí.",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">Sobre mí</h1>

  <div class="prose prose-citrus max-w-none">
    <p>
      Desde siempre me gustaron las matemáticas, aunque tardé en decidir qué estudiar.
      Pasé por ideas como ingeniería automotriz (me encantan los coches) y hasta física,
      por culpa de <em>The Big Bang Theory</em>.
    </p>

    <p>
      Pero fue hasta el último semestre de prepa, en una materia llamada Cibernética, que conocí a un gran profesor
      que me recomendó estudiar Ciencias de la Computación… y probar GNU/Linux.
      Hice ambas cosas, y no me arrepiento.
    </p>

    <p>
      
Actualmente estoy cursando el último semestre de la universidad. Pronto haré un viaje por el sur de México con una misión muy específica: desempolvar mis habilidades sociales. Después de tantos años frente a la computadora, siento que mis interacciones humanas se han ido oxidando un poco, así que toca salir, conocer gente y reconectar con esa parte de mí que no cabe en una terminal de comandos.
    </p>

    <p>
      P.D. Mi libro favorito es Las afinidades electivas, de J.W. Goethe.
    </p>
  </div>
</PageLayout>

