---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  title: "Sobre mí",
  description: "Una breve historia sobre cómo llegué aquí.",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">Sobre mí</h1>

  <div class="prose prose-citrus max-w-none">
    <p>
      Desde siempre me gustaron las matemáticas, aunque tardé en decidir qué estudiar.
      Pasé por ideas como ingeniería automotriz (me encantan los coches) y hasta física,
      por culpa de <em>The Big Bang Theory</em>.
    </p>

    <p>
      Pero fue hasta el último semestre de prepa, en una materia llamada Cibernética, que conocí a un gran profesor
      que me recomendó estudiar Ciencias de la Computación… y probar GNU/Linux.
      Hice ambas cosas, y no me arrepiento.
    </p>

    <p>
      Hoy trabajo como tester en una empresa con muy buen ambiente, corro por las mañanas, y en mis ratos libres
      disfruto del teatro, la poesía y seguir aprendiendo sobre Linux (mi favorito sigue siendo Mint).
    </p>

    <p>
      Mi meta a futuro: convertirme en QA Lead o QA Manager.
    </p>
  </div>
</PageLayout>

